*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 16px;
}

body{
    background-color: #03216F;
}

.header{
    
    /* Barra de Navbar */
    width: 390px;
    height: 89px;    
    left: 0px;
    top: 0px;  
    background: #456BCB;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    margin: auto;

    /* Centrando texto del Navbar */
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    
}

.header .nav-links{
    /* Quitamos puntitos de la lista que no nos interesa */
    list-style: none;
}

.header .nav-links li{
    /* Centramos el texto */
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 48px;
    
}

.header .nav-links li:hover{
    /* Interactua con el usuario agrandandose cuando pasa el mouse por encima */

    transform: scale(1.1);
}

.header .nav-links a{
    /* Le ponemos cositas al texto de la NavBar */
    background: #6B88D3;
    border-radius: 5px 5px 5px 5px;  
    
    
    
    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 800; */
    font-size: 15px;
    /* line-height: 19px; */
    /* text-align: center; */
    color: #000000;

    /* Le quitamos el subrayado */
    text-decoration: none;
}


/* Aqui empezamos con el HERO (Carrusel, Slider) */

.container-slider{
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;

    position: relative;
}

.slider{
    display: flex;
    width: 400%;
    height: 400px;
    /* Se rueda una imagen a la izquierda, para siempre tener una foto a la izquierda de la principal */
    margin-left: -100%;
}

.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;

    cursor: pointer;
}

.slider__btn:hover{
    background: #fff;
}

.slider__btn--left{
    left: 10px;
}

.slider__btn--right{
    right: 10px;
}

/* Aqui empezamos con el Experience */

.experience{
    padding-top: 100px;
    padding-left: 1%;
    width: 500px;
    height: 1800px;
    left: 0px;
    top: 437px;
    overflow: hidden;
    margin: 0 auto;


}

.BigTitle{
    
    width: 100%;
    height: 58px;
    left: 18px;
    top: -3px;

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;

    /* identical to box height */
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;
}

.topics_experience{
    padding-top: 30px;
    width: 100%;
    height: 1550px;
    left: 18px;
    top: 66px;
}

.topic{
    width: 100%;
    height: 549px;
    left: 0px;
    top: 0px;
}


.Title{
    /* background-color: red; */
    width: 100%;
    height: 38px;
    left: 0px;
    top: 0px;

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #FFFFFF;
}

.parrafo a{
    width: 100%;
    height: 120px;
    left: 56px;
    top: 37px;

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}


.parrafo{
    padding-top: 10px;
    
    width: 100%;
    height: 120px;
    left: 56px;
    top: 37px;
    
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    text-align: center;
    
    color: #FFFFFF;
    
}

#parrafo_experiencia{
    background-color: #6B88D3;
    border-radius: 30px 30px 0px 0px;
}

.img_experience{

    border-radius: 0px 0px 30px 30px;

}

/* Agregando cosas para el About Me */

.about_me{
    width: 90%;
    height: 3100px;
    margin: 0 auto;
    overflow: hidden;

    align-items: center;
}

/* Tablet */
@media (min-width: 500px){

    
    /* Ancho del Navbar */
    .header{
        width: 90%;
    }

}

/* Desktop */
@media (min-width: 1024px){

    /* Fijamos el ancho del Navbar a partir de cierta medida de ordenadores */
    .header{
        width: 942px;
        left: 169px;
        top: 0px;
    }
}
